
//layout
$global_margin: 25px;

$page_leftmargin: $global_margin;
$page_rightmargin: $global_margin;
$page_topmargin: 0;
$page_bottommargin: 0;

$element_margin:15px;

//colors
$global_outline_color:#cccccc;
$global_darkblue: #112e51;