//overall page structure will go here.

body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

nav ul{
	list-style:none;
	margin:0;
	padding:0;
	li{
		list-style: none;
		float:left;
		margin-right:10px;
		&:before, &:after{
			content:"";
		}
	}
}